.sidebar-user-info
{
    height: 9em;
    /*background-image: url(images/user_info_background.jpg);
    background-size: cover;*/
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme
{
    color: white;
}

.md-avatar
{
    width: 80px;
    height: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    margin-left: 10px;
}

.text-user-info
{
    padding: 0 16px;
    margin: 0;
}

body {
    background: #eeeded;
}

.card
{
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    margin: 1em;
    margin-left: 14em;
    position: relative;
    height: 25em;
    width: 50em;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}

.card-1:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cards-container
{
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.poster
{
    background: #FF5722;
    display: block;
    float: left;
    position: relative;
    height: 13em;
    width: 10em;
    margin-left: 2em;
    margin-top: -1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
}